@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Homemade+Apple&family=Nanum+Pen+Script&family=Permanent+Marker&family=Rock+Salt&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
}
/* HEADER GENERAL */
header{
    background-color: rgb(50, 102, 50);
}