@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Homemade+Apple&family=Nanum+Pen+Script&family=Permanent+Marker&family=Rock+Salt&display=swap");
body {
  font-family: "Permanent Marker", cursive;
  font-weight: lighter;
}
body .wapp {
  position: fixed;
  bottom: 100px;
  right: 20px;
  font-size: 50px;
  color: whitesmoke;
  transition: all 1s;
}
body .wapp:hover {
  color: rgb(0, 0, 0);
  transform: rotateY(360deg);
  transition: 1s;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.container-fluid .navbar {
  background-color: rgb(50, 107, 50);
}
.container-fluid .navbar .navbar-brand {
  font-size: 40px;
  color: whitesmoke;
  margin-right: 0;
}
.container-fluid .navbar .navbar-toggler {
  font-size: 1rem;
}
.container-fluid .navbar .collapse .navbar-nav .nav-link {
  color: whitesmoke;
}

footer {
  height: 80px;
  width: 100%;
  background-color: rgb(50, 107, 50);
  color: whitesmoke;
  text-align: center;
}
footer p {
  margin-bottom: 0;
  padding-top: 10px;
}
footer .redes a {
  color: whitesmoke;
}
footer .redes a:hover {
  color: black;
  transition: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGINA INDEX */
.header .navbar h1 {
  text-align: center;
  color: whitesmoke;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: whitesmoke;
}

@-webkit-keyframes intermitente {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intermitente {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* EXTEND */
.altura, .principalc, .carousel-item img, .principali {
  height: calc(100vh - 166px);
}

.jumbotron {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(img/clase1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.jumbotron .botonp a {
  background-color: rgba(245, 245, 245, 0.45);
  padding: 8px;
  padding-top: 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: solid;
  border-radius: 50px;
  text-align: center;
  transition: all 1s;
}
.jumbotron .botonp a:hover {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.45);
}

/* PAGINA INFORMACION */
.principali {
  padding-top: 45px;
  text-align: center;
}
.principali .caja1 {
  height: 330px;
  background-image: url(/img/clase5.jpg);
  background-size: cover;
  background-position: center;
}
.principali .caja-2 h3 {
  font-size: 25px;
  padding-top: 5px;
}
.principali .caja-2 p {
  font-size: 18px;
}

/* MAPA */
.caja-black {
  font-family: arial;
  color: black;
}

.caja-white {
  font-family: monospace;
  color: white;
}

.caja-blue {
  font-family: serif;
  color: blue;
}

/* MIXIN */
.caja-black {
  height: 150px;
  width: 15%;
  background-color: green;
}

.caja-white {
  height: 150px;
  width: 15%;
  background-color: darkgreen;
}

.caja-blue {
  height: 150px;
  width: 15%;
  background-color: rgb(0, 31, 0);
}

/* PAGINA GALERIA */
.carousel-item img {
  width: 100%;
  -o-object-fit: cover;
    object-fit: cover;
}

/* PAGINA CONTACTO */
.subtituloc {
  text-align: center;
  font-size: 2em;
  color: whitesmoke;
}

.principalc {
  padding: 0px 30px;
  color: whitesmoke;
}
.principalc .pizzarronc {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.principalc .pizzarronc .contact-wrapper {
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}
.principalc .pizzarronc .contact-wrapper .formulario {
  background: rgb(50, 107, 50);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.principalc .pizzarronc .contact-wrapper .formulario form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.principalc .pizzarronc .contact-wrapper .formulario form p {
  margin: 0;
  padding: 1em;
}
.principalc .pizzarronc .contact-wrapper .formulario form label {
  display: block;
}
.principalc .pizzarronc .contact-wrapper .formulario form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
.principalc .pizzarronc .contact-wrapper .formulario form .bloque {
  grid-column: 1/3;
}
.principalc .pizzarronc .contact-wrapper .formulario form .bloque textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
.principalc .pizzarronc .contact-wrapper .formulario form .bloque button {
  width: 100%;
  border: 1px solid whitesmoke;
}
.principalc .pizzarronc .contact-wrapper .contacto-info {
  background-color: rgb(9, 32, 9);
  text-align: center;
}
.principalc .pizzarronc .contact-wrapper .contacto-info ul {
  list-style: none;
  padding: 0;
}
.principalc .pizzarronc .contact-wrapper .contacto-info ul li a {
  color: whitesmoke;
}
.principalc .pizzarronc .contact-wrapper .contacto-info ul li a:hover {
  color: black;
}
.principalc .pizzarronc .contact-wrapper .contacto-info iframe {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  footer {
    font-size: 15px;
  }

  .wapp {
    font-size: 40px;
  }

  h1 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .principali {
    height: auto;
    padding-top: 20px;
  }

  .caja2 {
    padding-top: 10px;
  }

  .pizzarronc legend {
    font-size: 25px;
    padding-bottom: 15px;
  }

  .formulario form {
    display: block;
  }

  .principalc {
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper > * {
    padding: 2em;
  }

  .contacto-info h3,
.contacto-info ul {
    text-align: left;
  }
}
@media only screen and (max-width: 991px) {
  .principali {
    height: auto;
    padding-top: 30px;
  }

  .principali h3 {
    font-size: 20px;
    padding-top: 0px;
  }

  .principali p {
    font-size: 15px;
  }
}/*# sourceMappingURL=estilos.css.map */